Требования по заполнению формы:
    Имя:
        1. Обязательно для заполнения
        2. Содержит только буквы русского и английского алфавита, пробелы, дефис и апостров
    Email:
        1. Обязательно для заполнения
        2. Обязательные символы: @ и .
    Комментарий:
        1. Необязательно для заполнения
        2. Многострочное поле ввода (текстовое поле)
    Пол:
        1. Обязательно для заполнения
        2. Должна быть выбрана хотя бы одна кнопка

    Для всех полей:
        1. Исключить экранирование
        2. Исключить пробелы в начале и конце строки
        3. Исключить специальные символы


Для тестирования:
<script>alert('hacked')</script>
%22%3E%3Cscript%3Ealert('hacked')%3C/script%3E
